# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.DS_Store

# Django
*.sqlite3
/static/
/media/

# Node/React
node_modules/
build/
dist/
.env.local
.env.development.local
.env.test.local
.env.production.local

# その他
.idea/
.vscode/
